body {
  background-color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: url(http://timoha.ho.ua/img/background1.jpg);
  background-size: cover;
}
.avatar {
  float: top;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.knopki {
  text-align: center;
  color: white;
}
.knopki button {
  display: inline-block;
  width: 150px;
  height:35px;
  background-color: tomato;
  border-radius: 10px;
}
.knopki form {
  display: inline-block;
}
.knopki a{
  text-decoration: none;
}
.info {
  padding-top: 10px;
  margin: auto;
  text-align: center;
  color: white;
  font-family: "Raleway", sans-serif;
  height: 100%;
  max-width: 500px;
  line-height: 1.5;
}

@media screen and (max-width: 520px) {
  body {
    background-size: 100%;
  }
}
.kontact a{
  display: inline-block;
}
.Telegram {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-image: url(http://timoha.ho.ua/img/telegram.jpg);
  background-size: 100%;
}
.Instagram {
  width: 30px;
  height: 30px;
  background-image: url(http://timoha.ho.ua/img/instagram.png);
  background-size: 100%;
}
.Tel {
  width: 30px;
  height: 30px;
  background-image: url(http://timoha.ho.ua/img/tel.png);
  background-size: 100%;
  border-radius: 10px;
}
